<h1> Ecommerce Backend</h1>

<p>Aplicación con Express + MongoDB + Handlebars</p>

<hr>

<div>
    <a href="/products">
        <button>Ver catálogo de productos</button>
    </a>

    <a href="/carts/69a0ebe61d28490fdeb15620">
        <button>Ver mi carrito</button>
    </a>
</div>

<br>

<p>
    Funcionalidades implementadas:
</p>

<ul>
    <li>Persistencia en MongoDB</li>
    <li>Paginación de productos</li>
    <li>Filtros y ordenamiento</li>
    <li>Carrito con populate</li>
</ul>